html { 
  
  color: pink;
  box-sizing: border-box;
  font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */

h1 { 
color: lightblue;}

body {

  color: lightblue ;
  margin: 4rem;
  font-family: sans-serif;
  line-height: 4.5;
}
#grid {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px;
}

#item1 {
  background-color: lime;
}

#item2 {
  background-color: yellow;
  grid-column: 2 / 4;
}

#item3 {
  background-color: blue;
  grid-column: span 2 / 7;
}
