html { 
  
  color: pink;
  box-sizing: border-box;
  font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */

h1 { 
color: lightblue;}

.background {
  background-image: url('bluerwater.gif');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
body {

  color: lightblue ;
  margin: 4rem;
  font-family: sans-serif;
  line-height: 4.5;
}
